@(path: Path, upPath: Option[Path], items: Iterable[IndexItem])(implicit request: Request[_], userOpt: Option[User])

@main(title = "Browse", activeNav = "index"){
  <h2>Browse artifacts</h2>

  <h3>@path.str</h3>

  @upPath.map { path =>
    <a href="@nav.index(path)">Up</a>
  }

  <ul>
    @for(item <- items){
      <li>
        @item match {
          case IndexFile(name, path) => {
            @name
          }

          case IndexPackage(name, path) => {
            <a href="@nav.index(path / name)">@name</a>
          }
        }
      </li>
    }
  </ul>

}
