@(path: Path, upPath: Option[Path], items: Iterable[IndexItem])(implicit request: Request[_], userOpt: Option[User])

@main(title = "Browse", activeNav = "index"){
  <h2>Browse artifacts</h2>

  <h3>@Html(path.list.mkString("<span class='sep'>/</span>"))</h3>

  @upPath.map { path =>
    <h5><a href="@nav.index(path)">Up</a></h5>
  }

  <ul>
    @for(item <- items){
      <li>
        @item match {
          case IndexFile(name, path) => {
            <a href="/repository/@{(path / name).str}">@name</a>
          }

          case IndexPackage(name, path) => {
            <a href="@nav.index(path / name)">@name</a>
          }
        }
      </li>
    }
  </ul>

}
