@(project: org.scalajars.core.Project)(implicit request: Request[_])


@main(title = "Project :: " + project.name){
  <h2>@project.name</h2>
  <p>@project.description</p>

  <div class="accordion" id="accordion-versions">
    @for((version, vIdx) <- project.versions.zipWithIndex){
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-versions" href="#accordion-version-@vIdx">@version.id</a>
        </div>
        <div id="accordion-version-@vIdx" class="accordion-body collapse">
          <div class="accordion-inner">
            <div class="accordion" id="accordion-scalaVersions-@vIdx">
              @for((scalaVersion, sIdx) <- version.scalaVersions.zipWithIndex){
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-scalaVersions-@vIdx" href="#accordion-scalaVersion-@vIdx-@sIdx">Scala @scalaVersion.id</a>
                  </div>
                  <div id="accordion-scalaVersion-@vIdx-@sIdx" class="accordion-body collapse">
                    <div class="accordion-inner">


                      <div class="accordion" id="accordion-artifacts-@vIdx-@sIdx">
                        @for((artifact, aIdx) <- scalaVersion.artifacts.zipWithIndex){
                          <div class="accordion-group">
                            <div class="accordion-heading">
                              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-artifacts-@vIdx-@sIdx" href="#accordion-artifacts-@vIdx-@sIdx-@aIdx">
                                @artifact.id
                              </a>
                            </div>
                            <div id="accordion-artifacts-@vIdx-@sIdx-@aIdx" class="accordion-body collapse">
                              <div class="accordion-inner">

                                <h4>SBT dependency</h4>
                                <pre>@org.scalajars.core.PrintDependency.sbt(version, scalaVersion, artifact)</pre>

                                <h4>Files</h4>
                                <table class="table">
                                  <tr>
                                    <th>Name</th>
                                    <th>MD5</th>
                                    <th>SHA1</th>
                                    <th>Download</th>
                                  </tr>

                                </table>

                                <h4>Library dependencies</h4>
                                <table class="table">
                                  <tr>
                                    <th>Name</th>
                                    <th>Version</th>
                                    <th>Scope</th>
                                  </tr>
                                  @for(dependency <- artifact.dependencies){
                                    <tr>
                                      <td>
                                        @dependency.groupId
                                        .
                                        <strong>@dependency.artifactName</strong>
                                      </td>
                                      <td>@dependency.version</td>
                                      <td>@dependency.scope</td>
                                    </tr>
                                  }
                                </table>

                              </div>
                            </div>
                          </div>
                        }
                      </div>



                    </div>
                  </div>
                </div>
              }
            </div>

          </div>
        </div>
      </div>
    }
  </div>
}
