@(project: FullProject)(implicit request: Request[_])


@main(title = "Project :: " + project.name){
  <h2><span>@project.groupId</span> @project.name</h2>


  <h4>Versions</h4>
  <div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
      @for((version, index) <- project.versions.zipWithIndex){
        <li
        @if(index == 0) {
          class="active"
        }
        ><a href="#version-@index" data-toggle="tab">@version.id</a></li>
      }
    </ul>
    <div class="tab-content">
      @for((version, index) <- project.versions.zipWithIndex){
        <div class="tab-pane
        @if(index == 0) {
          active
        }
        " id="version-@index">

        <h4>sbt dependency</h4>
        <pre>@org.scalajars.web.controllers.PrintDependency.sbt(project, version)</pre>

        <h4>Artifacts</h4>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>MD5</th>
            <th>SHA1</th>
            <th>Download</th>
          </tr>
          @for(artifact <- version.artifacts){
            <tr>
              <td>@artifact</td>
              <td></td>
              <td></td>
              <td><a href="">Download</a></td>
            </tr>
          }
        </table>

        <h4>Library dependencies</h4>
        <table class="table">
          <tr>
            <th>Name</th>
            <th>Version</th>
            <th>Scope</th>
          </tr>

          @for(dep <- version.dependencies){
            <tr>
              <td>@{ dep.groupId + "." + dep.artifactId }</td>
              <td>@dep.version</td>
              <td>@dep.scope</td>
            </tr>
          }
        </table>



        </div>
      }
    </div>
  </div>

}
