@()(implicit request: Request[_], userOpt: Option[User])

@main(title = "Homepage"){

  <div class="hero-unit">
    <h1>Home for your scala libraries</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat.</p>
    <p>
      @userOpt.map { user =>
        <a href="@nav.profile()" class="btn btn-success btn-large">Show my publish token</a>
      }.getOrElse {
        <a href="@nav.auth.signin()" class="btn btn-primary btn-large">Sign in with Github</a>
      }
      or
      <a href="@nav.projects()" class="btn btn-primary btn-large">Browse projects</a>

      <a style="float: right" href="http://github.com/teamon/scalajars.org" class="btn btn-inverse btn-large">Source code</a>
    </p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span8">
      <h2>Configure</h2>
      <h4>1. Set your publish token</h4>
      Create file <code>~/.scalajars</code> with you <a href="@nav.profile()">publish token</a>

      <h4>2. Configure sbt build</h4>
      <code>plugins.sbt</code>
      <pre class="prettyprint">addSbtPlugin("org.scalajars" %% "sbt-scalajars" % "0.1.0")</pre>
      <code>build.sbt</code>
      <pre class="prettyprint">seq(scalajarsSettings:_*)

scalajarsProjectName := "my-project"</pre>
      @*<p><a class="btn" href="#">View details &raquo;</a></p>*@
    </div>
    <div class="span4">
      <h2>Recently added</h2>
       <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Tymon Tobolski 2012 | <a href="http://teamon.eu">teamon.eu</a></p>
  </footer>

}
