@(title: String)(content: Html)(implicit request: Request[_])
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ScalaJars</title>

    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet"/>
    <style>
      /*.container { width: 400px; }*/
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">ScalaJars</a>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="@nav.projects()">Projects</a></li>
            <li><a href="@nav.browse("")">Browse</a></li>
          </ul>
          <ul class="nav pull-right">
            @request.session.get("login").map { login =>
              <li><a href="#">Hello @login</a></li>
              <li class="divider-vertical"></li>
              <li><a href="@nav.auth.signout()">Sign out</a></li>
            }.getOrElse {
              <li><a href="@nav.auth.signin()">Sign in with Github</a></li>
            }
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
        @content
    </div>
  </body>
</html>
